<h2>Add New Destination</h2>
<form method="POST" action="">
	<div>
		<label for="title">Destination:</label>
		<input type="text" id="title" name="title" value="" placeholder="Where are you headed?">
	</div>
	<div>
		<label for="title">URL:</label>
		<input type="url" id="url" name="url" value="" placeholder="Add a link about your location!">
	</div>
	<div>
		<label for="description">Notes:</label>
		<textarea name="description" id="description" placeholder="What are you going to be up to?"></textarea>
	</div>
	<input type="submit" value="Add">
</form>
