<h2>Add New Financial Goal </h2>
<form method="POST" action="">
	<div>
		<label for="title">Dream Destination:</label>
		<input type="text" name= "title" placeholder="Where do you want to go?">
	</div>
	<div>
		<label for="hotelMoney">Money Needed For Hotel:</label>
		<input type="number" name= "hotelMoney" placeholder="$ needed...">
	</div>
	<div>
		<label for = "foodMoney">Money Needed For Food:</label>
		<input type= "number" name= "foodMoney" placeholder="$ needed...">
	</div>
    <div>
        <label for = "attractionMoney"> Money Needed For Attractions: </label>
        <input type = "number" name="attractionMoney" placeholder = "$ needed...">
    </div>
	<input type="submit" value="Add">
</form>
