<h2>Add New Packing Plan </h2>
<form method="POST" action="">
	<div>
		<label for="title">Destination To Pack For:</label>
		<input type="text" name= "title" placeholder="Where are you packing for?">
	</div>
	<div>
		<label for="amountShirts">How many shirts to take? :</label>
		<input type="number" name= "amountShirts" placeholder="Amount of Shirts">
	</div>
	<div>
		<label for = "amountPants">How many pants to take? :</label>
		<input type= "number" name= "amountPants" placeholder="Amount of Pants">
	</div>
    <div>
        <label for = "amountSocks"> How many socks to take? : </label>
        <input type = "number" name="amountSocks" placeholder = "Amount of Socks">
    </div>
    <div>
        <label for = "amountUnderwear"> How many underwear to take? : </label>
        <input type = "number" name="amountUnderwear" placeholder = "Amount of Underwear">
    </div>
	<input type="submit" value="Add">
</form>
